<div class="page-home">
    <md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
        <md-card flex-xs flex-gt-xs="50" layout="column">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Auth Data</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>client_key</label>
                        <input ng-model="client_key">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-xs>
                        <label>client_secret</label>
                        <input ng-model="client_secret">
                    </md-input-container>
                </div>

                <div layout-gt-xs="row" layout-align="center center">
                    <md-button class="md-raised md-primary" ng-click="getToken()">Get Token</md-button>
                </div>

            </md-card-content>
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-xs>
                    <label>oauth_token</label>
                    <input ng-model="oauth_token" disabled>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-xs>
                    <label>oauth_token_secret</label>
                    <input ng-model="oauth_token_secret" disabled>
                </md-input-container>
            </div>
            </md-card-content>
        </md-card>
    </md-content>
</div>
